<div class="container">
    <div class="row">
        <div class="table-responsive">
            <div class="col-md-12 panel panel-default" align=center>
                <table class="table table-striped table-hover " align="center" border=1>
                    {% for n in citylist %}
                    <tr>
                        <td class="info" align="center"> {{n}} </td>                        
                    </tr>
                    {% endfor %}
                </table>

            </div>
        </div>
    </div>
</div>